/* HomeCarousel.css */
.home-cover {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #838383;
    font-style: normal;
    box-sizing: inherit;
    display: block;
    position: relative;
    /* Add any other carousel styles here */
}

.cover_slider {
    /* Add any slider styles here */
}