@media all and (min-width: 480px) {
  .Login {
    padding: 30px 0;
    text-align: center;
    align-content: center;

  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
    align-content: center;
  }
}

/* Styles for screens up to 360px */
@media (max-width: 360px) {
  /* Custom styles for 360px and below */
}

/* Styles for screens between 361px and 480px */
@media (min-width: 361px) and (max-width: 480px) {
  /* Custom styles for 361px to 480px */
}

/* Styles for screens between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
  /* Custom styles for 481px to 768px */
}

/* Styles for screens between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Custom styles for 769px to 1024px */
}

/* Styles for screens between 1025px and 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  /* Custom styles for 1025px to 1440px */
}

/* Styles for screens larger than 1440px */
@media (min-width: 1441px) {
  /* Custom styles for 1441px and above */
}